@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 0 0% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 3.9%;
    --primary: 0 0% 9%;
    --primary-foreground: 0 0% 98%;
    --secondary: 0 0% 96.1%;
    --secondary-foreground: 0 0% 9%;
    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;
    --accent: 0 0% 96.1%;
    --accent-foreground: 0 0% 9%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;
    --ring: 0 0% 3.9%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 0 0% 3.9%;
    --foreground: 0 0% 98%;
    --card: 0 0% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 0 0% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 0 0% 9%;
    --secondary: 0 0% 14.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 0 0% 14.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 14.9%;
    --input: 0 0% 14.9%;
    --ring: 0 0% 83.1%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}


@media (max-width: 428px){
      #header{
        min-width: 428px;
        /* display: 'flex justify-center items-center'; */
      }
}

@media (max-width : 428px){
  #sec-1{
    
    width: 428px;
    height: 390px;
    padding-top: 64px;
    padding-right: 24px;
    padding-bottom: 64px;
    padding-left: 24px;
    gap: 24px;
  }
}

@media(max-width : 428px){
  #footer-1{
    width: 428px;
    height: 239.34px;
    /* padding-top: 48px;
    padding-right: 24px;
    padding-bottom: 48px;
    padding-left: 24px;
    gap: 24px;
    background-color: #FFFFFF; */
    margin-top: 300px;
  }
}

@media(max-width:428px){
  #h1{
    width: 385px;
    height: 162px;
    
  }
}

@media(max-width:428px){
  #h2{
    width: 385px;
    height: 451px;
    
  }
}

@media(max-width:428px){
  #h4{
    width: 428px;
    height: px;
   
  }
}

@media(max-width:428px){
  #h5{
    width: 428px;
    height: 1050px;
   background-color: aqua;
  }
}